<div class="px-4 py-8 max-w-4xl mx-auto">
    <h3 class="text-2xl sm:text-3xl font-semibold text-center text-gray-800 mb-8">
      {{"Edit"}} Your Profile
    </h3>
    <form 
      (ngSubmit)="onSubmit()" 
      autocomplete="off" 
      class="p-6 rounded-lg bg-white shadow-md w-full space-y-6"
    >
      <div>
        <label 
          for="employeeName" 
          class="text-lg font-medium text-gray-700 mb-2 block"
        >
          Employee Name
        </label>
        <input 
          type="text" 
          id="employeeName" 
          class="form-input w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" 
          [(ngModel)]="employee.name" 
          name="employeeName" 
          placeholder="Enter employee name"
        >
      </div>
      <div>
        <label 
          for="employeeEmail" 
          class="text-lg font-medium text-gray-700 mb-2 block"
        >
          Employee Email
        </label>
        <input 
          type="email" 
          id="employeeEmail" 
          class="form-input w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" 
          [(ngModel)]="employee.email" 
          name="employeeEmail" 
          placeholder="Enter employee email"
        >
      </div>
  
      <div>
        <label 
          for="employeePhone" 
          class="text-lg font-medium text-gray-700 mb-2 block"
        >
          Employee Phone
        </label>
        <input 
          type="tel" 
          id="employeePhone" 
          class="form-input w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" 
          [(ngModel)]="employee.phone" 
          name="employeePhone" 
          placeholder="Enter employee phone number"
        >
      </div>
  
      <div>
        <label 
          for="employeeDateOfBirth" 
          class="text-lg font-medium text-gray-700 mb-2 block"
        >
          Date of Birth
        </label>
        <input 
          type="date" 
          id="employeeDateOfBirth" 
          class="form-input w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" 
          [(ngModel)]="employee.dateOfBirth" 
          name="employeeDateOfBirth"
        >
      </div>

      <div>
        <label 
          for="employeeJobTitle" 
          class="text-lg font-medium text-gray-700 mb-2 block"
        >
          Employee Job Title
        </label>
        <input 
          type="text" 
          id="employeeJobTitle" 
          class="form-input cursor-not-allowed w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" 
          [(ngModel)]="employee.jobTitle" 
          name="employeeJobTitle" 
          placeholder="Enter job title"
          disabled
        >
      </div>
  
      <div>
        <label 
          for="employeeDateOfJoining" 
          class="text-lg font-medium text-gray-700 mb-2 block"
        >
          Date of Joining
        </label>
        <input 
          type="date" 
          id="employeeDateOfJoining" 
          class="form-input cursor-not-allowed w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" 
          [(ngModel)]="employee.dateOfJoining" 
          name="employeeDateOfJoining"
          disabled
        >
      </div>
  
      <div class="text-center">
        <button 
          class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 transition duration-200 focus:outline-none focus:ring-2 focus:ring-green-500" 
          type="submit"
        >
          {{"Edit"}}
        </button>
      </div>
    </form>
  </div>
  